/* Gerais */
body{
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    color: #0F1035;
    text-decoration: none;
}

a:hover {
    color: #226100;
}

/* IDs */
#botao-acessibilidade {
    display: flex;
    gap: 0.5rem;
    border: none;
    box-shadow: none;
    left: 13%;
}

#botao-acessibilidade button {
    padding: 0.2rem;
    color: white;
    background: #777a77;
    border-style: none;
    border-radius: 30%;
}

#banner {
    width: 100%;
    height: 57rem; /* Altura fixa para imagem não duplicar */
    overflow: hidden; /* Para imagens fora do container serem ocultas */
    position: relative;
}

#btnAnte, #btnProx {
    position: absolute;
    top: 50%;
    transform: translateX(50%);
    transform: translateY(-50%); /* Para centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0);
    color: #202025;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10; /* Para que os botões fiquem acima das imagens */
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

#btnAnte {
    left: 2rem; /* Ajuste conforme necessário */
}

#btnProx {
    right: 1rem; /* Ajuste conforme necessário */
}

#contatos, #voltarTopo, #mapa, #redes {
    flex-grow: 1;
    width: 100%;
}



/* Classes */
.card-imagem {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.card-imagem img {
    float: inline-start;
    margin-right: 15px;
    padding: 10px;
    background-color: white;
    border: outset #246600;
}

.card-imagem p {
    float: inline-start
}

.banner-image {
    padding: 1rem;
    width: 99%;
    border-radius: 4.5%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: relative;
    display: none;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1; /* Definir z-index baixo para o carrossel */
}

.banner-image:first-child {
    display: block;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.card-sobre-nos {
    display: flex;
    align-items: center;
    background-color: #4c8d4a; 
    border-radius: 15px;
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
    border: solid 1px rgb(36, 95, 36); 
    padding: 1rem 0rem 2rem 1rem;
    margin-top: 2rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    max-width: 35rem;
    color: #fff;
}
  
.card-sobre-nos div img {
    margin: 1rem;
    width: 125px;
    height: 125px;
    border-radius: 2rem;
    margin-right: 1rem;
    border: solid 2px rgb(36, 95, 36);
}

.card-sobre-nos .informacao-card h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 34, 28);
}

.conteudo-pagina h3, .conteudo-pagina-porque h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    padding-top: 0.5em;
}

.conteudo-pagina-porque {
    align-self: center;
    margin: 0 auto;
    width: 65%;
}

.conteudo-pagina-porque .topico {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.conteudo-pagina-porque img {
    width: 50%;
    margin-right: 20px;
    max-width: 500px;
    border: outset #246600;
}

.conteudo-pagina-porque .topico .texto {
    margin-left: 30px;
    width: 50%;
}

.mapa {
    display: block;
    border: groove #246600;
}

.botao-sessao {
    border: none;
    padding: 0.3rem;
    font-size: 0.9em;
    margin: 0.2rem 0.2rem 0.2rem 0;
    background-color: #246600;
    border-radius: 10%;
    color: rgb(226, 226, 226);
}

/* Header */
header div {
    background-color: #E1EED0;
    height: 6.25rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 15px 15px -10px rgba(0,0,0,0.5);
    justify-content: space-between; /* Alinha o conteúdo no início e no final */
    align-items: center; /* Centraliza verticalmente os itens */
}

header div img {
    width: auto;
    max-width: 100%;
    height: auto;
}

header {
    margin-bottom: 0.5em;
}

header a {
    font-size: 1.3em;
}

header img {
    padding: 1rem;
}

header button {
    font-size: 1.0rem;
}

header ul {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 2rem;
}

header li {
    color: #0F1035;
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 0.7em;
}

/* Main */
main {
    margin-bottom: 3rem;
    background-color: #E1EED0;
    padding: 1rem;
    padding-bottom: 2rem;
}

main section {
    padding: 1.5rem;
}

main section h2 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2em;
}

.conteudo-pagina h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    padding-top: 0.5em;
}

.conteudo-pagina iframe {
    float: right;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-container .botao-sessao {
    width: 100%;
    border-radius: 4%;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

.form-container a {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.4rem;
}

main h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

main section p, main section li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    margin-bottom: 0.4em;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    padding: 0.2rem;
    margin: 0.2rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

h3 a {
    color: rgb(45, 54, 40);
}

/* Footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height: 350px;
    max-height: 900px;
    margin: -15px -15px -15px -15px;
    background-color: #1b421a;
    box-shadow: 8px 8px 8px 8px black;
    border: solid 1px black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

footer a {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

footer hr {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border: solid 1px white;
    background-color: white;
}

footer p {
    line-height: 5px;
    padding-top: 2px;
    text-align: center;
    text-indent: 20pt;
    color: white;
    display: inline-block;
    font-size: 1.25rem;
}

#menu-hamburguer {
    display: none;
}

/* Media Queries */
@media (max-width: 900px) {
    .container-cards {
      grid-template-columns: 1fr; /* Para que, em telas menores, só apareça um card por vez na página Sobre Nós */
    }
}

@media (max-width: 1000px) {
    #menu-hamburguer {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        padding-right: 2rem;
        z-index: 1000; /* Garantir que o ícone também fique à frente */
    }

    /* Esconder o menu de navegação padrão */
    header ul {
        display: none;
    }

    /* Mostrar o menu quando o ícone de hambúrguer for clicado */
    header ul.active {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        right: 0;
        background-color: #E1EED0;
        width: 100%;
        text-align: right;
        z-index: 999; /* Colocar um z-index alto */
    }

    header div {
        flex-direction: row; /* Mantém os itens lado a lado */
    }

    /* Ajuste da logo em telas pequenas */
    header div img {
        width: 45%; /* Ajusta o tamanho da logo em telas pequenas */
        height: auto;
    }

    /* Ajustar o botão de acessibilidade */
    #botao-acessibilidade {
        position: static; /* Remove o position absoluto */
        margin-left: auto; /* Move os botões para o lado direito */
    }
}