body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
    background-color: #E1EED0;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 15px 15px -10px rgba(0,0,0,0.5);
    justify-content: space-between; /* Alinha o conteúdo no início e no final */
    align-items: center; /* Centraliza verticalmente os itens */
}

.header-lista {
    color: #0F1035;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #E1EED0;
    padding: 1rem;
    padding-bottom: 2rem;
}

.header-menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 2rem;
}

.header-menu li {
    margin-left: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.logo-imagem {
    padding: 1rem;
}

footer {
    background-color: #000000;
    color: white;
    height: 25rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

a {
    color: #0F1035;
    text-decoration: none;
}

a:visited {
    color: #0F1035;
}

a:hover {
    color: #226100;
}

.imagem-principal-site {
    padding: 1rem;
    width: 99%;
    border-radius: 4.5%;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-pagina {
    padding: 1.5rem;
}

.conteudo-pagina h2 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
}

.conteudo-pagina p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 0.9rem;
}
