body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header-superior {
    background-color: #E1EED0;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

.header-inferior {
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 15px 15px -10px rgba(0,0,0,0.5);
}

.header-contatos {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    background-color: #133700;
    background-size: 3rem;
}

.header-lista {
    color: #0F1035;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

main {
    height: 187.5rem;
}

ul {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    list-style-type: none;
}

footer {
    background-color: #000000;
    color: white;
    height: 25rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

a:link, a:visited, a:hover {
    color: #133700;
    text-decoration: none;
}