body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
    background-color: #E1EED0;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 15px 15px -10px rgba(0,0,0,0.5);
    justify-content: space-between; /* Alinha o conteúdo no início e no final */
    align-items: center; /* Centraliza verticalmente os itens */
}

.header-lista {
    color: #0F1035;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #E1EED0;
    padding: 1rem;
    padding-bottom: 2rem;
}

.header-menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 2rem;
}

.header-menu li {
    margin-left: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.logo-imagem {
    padding: 1rem;
}

a {
    color: #0F1035;
    text-decoration: none;
}

a:hover {
    color: #226100;
}

.imagem-principal-site {
    padding: 1rem;
    width: 99%;
    border-radius: 4.5%;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-pagina {
    padding: 1.5rem;
}

.conteudo-pagina h2 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
}

.conteudo-pagina p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 0.9rem;
}

/* Footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height: 350px;
    max-height: 500px;
    margin: -10px -8px -10px -10px;
    background-color: #133700;
    box-shadow: 8px 8px 8px 8px black;
    border: solid 1px black;
    text-align: center;
}

footer a {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

footer hr {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border: solid 1px white;
    background-color: white;
}

footer p {
    line-height: 5px;
    padding-top: 2px;
    text-align: center;
    text-indent: 20pt;
    color: white;
    display: inline-block;
    font-size: 1.25rem;
}