body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header-superior {
    background-color: #E1EED0;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

.header-inferior {
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 15px 15px -10px rgba(0,0,0,0.5);
    justify-content: space-between; /* Alinha o conteúdo no início e no final */
    align-items: center; /* Centraliza verticalmente os itens */
}

.header-contatos {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    background-color: #133700;
    background-size: 3rem;
}

.header-lista {
    color: #0F1035;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

main {
    height: 187.5rem;
}

.header-menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    list-style-type: none;
    justify-content: flex-end;
}

.header-menu li {
    margin-right: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.logo-imagem {
    padding: 1rem;
}

footer {
    background-color: #000000;
    color: white;
    height: 25rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

a {
    color: #0F1035;
    text-decoration: none;
}

a:visited {
    color: #0F1035;
}

a:hover {
    color: #226100;
}
